* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DABFFF;
}

.container {
    box-shadow: 0px 0px 10px #2C2A4A;
    border-radius: 10px;
    background-color: #907AD6;
    overflow: hidden;
    color: #fff;
    width: 450px;
    min-height: 300px;
}

.container h1 {
    text-align: center;
    font-size: 1.8rem;
    margin: 1rem 2rem 1.5rem;
}

.container input, .container label {
    cursor: pointer;
}

.container ul {
    list-style-type: none;
    margin: 2rem;
}

.container ul li {
    padding: .5rem 0;
    font-size: 1.2rem;
}

.container ul li label {
    margin-left: .5rem;
}

.btn {
    background-color: #7FDEFF;
    border: none;
    width: 100%;
    padding: .8rem;
    font-size: 1.1rem;
    color: rgb(58, 58, 58);
    cursor: pointer;
}

.score {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    font-weight: bolder;
}