* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.search {
    position: relative;
}

.input {
    padding: .5rem;
    width: 0px;
    height: 30px;
    transition: width 300ms ease;
}

.btn {
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
    border: none;
    transition: left 300ms ease;
}

.btn:focus, .input:focus {
    outline: none;
}

.search.active .input {
    width: 300px;
}

.search.active .btn {
    left: 305px;
}