* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh; 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.left-slider {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 500ms ease-in;
    transform: translateY(-300%);
}

.left-slider > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-slider > div h1 {
    margin-bottom: .5rem;
}

.right-slider {
    position: absolute;
    width: 70%;
    top: 0;
    left: 30%;
    height: 100%;
    transition: transform 500ms ease-in;
    transform: translateY(-000%);
}

.right-slider > div {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

button {
    position: absolute;
    left: 30%;
    top: 70%;
    border: none;
    background-color: #fff;
    color: #aaa;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 300ms ease-in;
}

button:hover {
    color: #000;
}

button:focus {
    outline: none;
}

.down-button {
    transform: translateX(-100%);
}

.down-button:hover {
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
}

.up-button {
    transform: translateY(-100%);
}

.up-button:hover {
     border-start-end-radius: 20px;
     border-end-end-radius: 20px;
}